*{
  box-sizing:border-box;
}
body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  background-color:#1e1e1e;
  font-family:Arial,sans-serif;
}
.calculator {
  background:#000;
  border-radius:10px;
  box-shadow:0 4px 20px rgba(0,0,0.2);
    padding:20px;
  width:320px;
}
input {
  width:100%;
  height:60px;
  border:none;
  border-radius:5px;
  font-size:26px;
  padding:10px;
  margin-bottom:10px;
  text-align:right;
  background-color:#e0e0e0;
}
.buttons {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}
button {
  height:60px;
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
  border:none;
  border-radius:5px;
  transition:background 0.3s;
  background-color:#4CAF50;
  color:white;
}
button:hover {
  background-color:pink;
}
button:active {
  background-color:#3e8e41;
}
